include _mixins/main

doctype html
html
    head
        title gulp-useref-example
        link(
            rel="stylesheet"
            href="styles/main.css"
        )
    body(ng-app="app")
        div(ng-controller="MainCtrl as mainCtrl")
            p {{mainCtrl.msg}}

        +script-min-init
        +script-min('vendor/angular/angular.js')
        +script-min('js/templates.js')
        +script-min('js/app.js')
        +script-min('js/mainCtrl.js')
        +script-min-end