include _mixins/main

doctype html
html
    head
        title gulp-useref-example
    body(ng-app="app")
        div(ng-controller="AppCtrl as appCtrl") Hello
            p 1 + 1 = {{1 + 1}}

        +script-min-init
        +script-min('vendor/angular/angular.js')
        +script-min('js/app.js')
        +script-min-end