mixin script-min-init()
    |<!-- build:js js/all.js -->
    | <!-- start scripts -->

mixin script-min(src)
    script(src=src)

mixin script-min-end()
    | <!-- end scripts -->
    |<!-- endbuild -->